body {
    background-image: url(../assets/css/img/background.png);
}

.table-striped>tbody>tr:nth-child(even)>td,.table-striped>tbody>tr:nth-child(even)>th{background-color: #efefef;}

#tree {
  max-height: 300px;
}

#loadingicon {
  font-size: 50px; 
  margin-left: 50%;
  margin-top: 10%;
}

.nav-search {
  position: relative;
}

.td-manager-container {
  text-align: center;

}

.chosen-container.chosen-container-single {
  width: 100%;
}

.table tbody > tr > td {
  vertical-align: middle;
    padding: 8px!important;
}


td > a {
  color: #337ab7;
  text-decoration: none;
}

.table_div {
  padding-left : 10px;
  margin-top: 2px;
}

.table_div > a {
  color: #3838e8;
  text-decoration: none;
  cursor: pointer;
}

.table_div > a:hover,
.table_div > a:focus {
  color: #868EFD;
  text-decoration: underline;
}
.table_div > a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.stamp-view {
  position: static;
  overflow: auto;
  height: 135px;
  width: 100%;
}

.stamp-view > ul {
  padding-left: 0;
}

.search-label {
  float: left;
  padding-top:5px;
}
.error-message {
  text-align: center;
  color: red;
  font-size: 14px;
}

.simple_text {
  display:inline-block;
  width:280px;
  height:20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error {
  color: red;
}

.stamp-item{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.stamp-item img{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Text Color */
.white {
    color: #fff;
}
.red{
    color: #fd4b4b;
}

.orange{
    color: #ffa352;
}

.pink{
    color: #eb2bd4;
}

.green{
    color: #22da40;
}

.blue{
    color: #428bcf;
}

.lblue{
    color: #47d4e0;
}

/* Background Color*/

.br-red{
    background: #fd4b4b !important;
}

.br-orange{
    background: #ef744e !important;
}

.br-pink{
    background: #eb2bd4 !important;
}

.br-green{
    background: #22da40 !important;
}

.br-hblue{
     background: #ebf9ff !important;
 }

.br-lblue{
    background: #47d4e0 !important;
}

.br-purple{
    background: #954bb9 !important;
}

.br-gray{
    background: #f7f7f7;
}

.br-black{
    background: #333;
}

.br-white{
    background: #fff;
}

.br-lgreen {
    background: #8ba832;
}
#header {
  position: fixed;
  z-index: 1000;
  display: inline-block;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: solid 2px #5b79a5;
}

#sidebar {
    position: fixed;
    z-index: 100;
}

#main-container {
  margin-top :130px;
}

textarea {
    color: #12539b !important;
}

input {
    color: #12539b !important;
}

table {
    font-size: 14px !important;
}
th {
    font-weight: normal!important;
}

.btn {
    min-width: 120px;
}
.btn-info, .btn-info:focus {
    background-color: #28c3d7 !important;
    border-color: #28c3d7;
}

.btn-success, .btn-success:focus {
    background-color: #02BC77 !important;
    border-color: #02BC77;
}

.btn-warning, .btn-warning:focus {
    background-color: #FFD950 !important;
    border-color: #FFD950;
}

.btn-primary, .btn-warning:focus {
    background-color: #26B4FF !important;
    border-color: #26B4FF;
}

.btn-danger, .btn-danger:focus {
    background-color: #d9534f !important;
    border-color: #d9534f;
}

.btn-inverse, .btn-inverse:focus {
    background-color: #1565C0 !important;
    border-color: #1565C0;
}

.btn:hover {
    opacity: .7!important;
}

.footer {
    padding-top: 75px;
    height: 0;
    width: 0;
}
.footer .footer-inner {
    text-align: center;
    position: absolute;
    z-index: auto;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer .footer-inner .footer-content {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 4px;
    padding: 0 8px;
    line-height: 36px;
    margin: 0 10px 0 190px;
    border-top: 3px double #E5E5E5;
}