.inner-wrap {
    width: 1100px!important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(24,28,33,0.06);
    border-radius: .25rem;
    -webkit-box-shadow: 0 1px 4px rgb(24 28 33 / 1%);
    box-shadow: 0 1px 4px rgb(24 28 33 / 1%);
}

.card-header{
    padding: .875rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(24,28,33,0.06);
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-title {
    padding: .4375rem 0;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
}

.d-in-block {
    display: inline-block!important;
}
.d-flex {
    display: flex!important;
    justify-items: center;
    white-space: nowrap;
}

.v-middle {
    vertical-align: middle;
    margin-top: 0!important;
}
.f-right {
    float: right!important;
}
.f-left {
    float: left!important;
}
.ml-1 {
    margin-left: 10px;
}
.m-1 {
    margin: 10px;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
.ml-0 {
    margin-left: 0!important;
}
.mr-0 {
    margin-right: 0!important;
}
.mb-0 {
    margin-bottom: 0!important;
}
.pr-0 {
    padding-right: 0!important;
}
.pl-0 {
    padding-left: 0!important;
}
.mt-2 {
    margin-top: 4px;
}
.mt-20 {
    margin-top: 20px;
}
.width-30 {
    width: 30% !important;
}

.between-1 {
    width: 1px;
    background: #aaaaaa;
    height: auto;
    overflow: hidden;
    margin: 2px 2px 2px 10px;
}

.search-label {
    padding: 2px;
}
.search-input {
    width: 100px;
    padding: 0!important;
    font-size: 12px!important;
    height: auto;
}
.search-calendar {
    padding: 1px 4px!important;
    border-radius: 0 2px 2px 0!important;
    background: #cccccc!important;
}
.search-div {
    padding-top: 4px!important;
}
.right-no-radius {
    border-radius: 8px 0 0 0!important;
}
.left-no-radius {
    border-radius: 0 8px 0 0!important;
    margin-left: 0!important;
}
.report-btn-over:hover {
    /*background-color: #FF8510 !important;*/
    /*box-shadow: 0 8px 25px -8px #FF8510!important;*/
    opacity: 0.8;
}
.refresh-btn-over:hover {
    opacity: 0.8;
}
.font-bold {
    font-weight: bold!important;
}