/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


*, *:after, *:before {
    box-sizing: border-box;
}

.dynamic-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.dynamic-select {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    /* border-width: 0 2px 0 2px; */
    /* border-style: solid; */
    /* border-color: #394a6d; */
}

.dynamic-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    /* font-size: 14px; */
    /* font-weight: 300; */
    /* color: #3b3b3b; */
    /* height: 60px; */
    /* line-height: 60px; */
    background: #ffffff;
    cursor: pointer;
    /* border-width: 2px 0 2px 0; */
    /* border-style: solid; */
    /* border-color: #394a6d; */
}

.dynamic-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    max-height: 310px;
    min-width: 280px;
}
.dynamic-select.open .dynamic-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    max-height: 310px;
    min-width: 280px;
}

.open  {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    max-height: 310px;
}

.dynamic-options-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 308px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #394a6d;
    border-bottom: 1px;
    background: #fff;
}


.dynamic-option {
    position: relative;
    display: block;
    padding: 3px 8px 3px 8px;
    /* font-size: 22px; */
    font-weight: 300;
    color: #3b3b3b;
    /* line-height: 60px; */
    cursor: pointer;
    transition: all 0.5s;
}

.dynamic-option:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #65b2ff;
}
.dynamic-option.selected {
    color: #ffffff;
    background-color: #1e90ff!important;
    padding: 3px 8px 3px 8px!important;
}

.arrow {
    position: relative;
    height: 7px;
    width: 7px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -2px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 2px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -2px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 2px;
    transform: rotate(45deg);
}

.edit-list-btn {
    opacity: 0.1;
}

.edit-list-btn:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 1000ms ease-in-out;
}

.dynmaic-list {
    width: 100%;
}

.full-width {
    width: 100%;
}

.dynamic-default-select {
    font-size: 12px;
    height: 19px;
    width: 100%;
}

.dynamic-modal {
    width: 400px!important;
}

.dynamic-modal-body {
    position: relative;
    padding: 12px;
    font-size: 14px;
}

.dynamic-list {
    width: 800px!important;
}

.rank-tr {
    height: 18px;
}

.rank-tr:hover {
    background-color: #71b8ff;
}

.dynamic-select-span {
    max-width: 120px;
    overflow: hidden;
}
.dynamic-select-span-capacity {
    max-width: 250px;
    overflow: hidden;
}